.booking-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(138, 132, 132);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.left-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(138, 132, 132);
  border-radius: 8px;
  margin-right: 20px;
  height: 100%;
  text-align: center;
}

.left-column h2 {
  font-size: 3.2rem;
  color: rgb(5, 44, 77);

}

.right-column {
  flex: 2;
  background-color:rgb(5, 44, 77);
  padding: 30px;
  border-radius: 25px;
  width: 30%;
}

.right-column .form-group {
  margin-bottom: 10px;
 
}

.right-column .form-group label {
  display: block;
  margin-bottom: 5px;
  color: white;
  text-align: left;
}

.right-column .form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
 
}

.right-column button.submit-btn {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  background-color: #0d77e8;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.right-column button.submit-btn:hover {
  background-color: #0056b3;
}
